- provide(:title, "Sign in")
%h1= t(".sign_in")

.row
  .span6.offset3
    =form_for(:session, url: sessions_path) do |f|
      = f.label User.human_attribute_name(:email)
      = f.text_field :email
      %br
      = f.label User.human_attribute_name(:password)
      = f.password_field :password
      %br
      = f.label :remember_me, class: "checkbox inline" do
        = f.check_box :remember_me
        %span= t(".remember_me_on_this_computer")
      %br
      =f.submit t("helpers.submit"), class: "btn btn-large btn-primary"
    %p
      = t(".not_registred_yet?")
      =link_to t(".sign_up_now"), signup_path