- provide(:title, 'Edit')

%h1= t(".edit_profile")

.row
  .span6.offset3

    =form_for @user do |f|
      = render 'shared/user_error_messages'
      = f.label 'first_name'
      = f.text_field 'first_name'
      %br
      = f.label 'last_name'
      = f.text_field 'last_name'
      %br
        = f.submit t("helpers.submit"), :class => 'btn btn-success'
        = link_to t("helpers.cancel"), user_shifts_path(@user), :class => 'btn btn-danger'