%h3 Calendar Shifts - Week N: #{params[:selected_week].to_date.strftime("%U")}

%h3 Select a week:
= collection_select('week_number', 'date', @year_weeks, :last, :first, {:selected => params[:selected_week]} )

%table.table.table-striped.table-bordered#table_id
  %tr
  -@week_business_days.each do |date|
    %th= date.strftime("%a %d-%b-%y")
  %tr
    -#shifts.key est day_work, shifts.value est une liste de shift
    -# @shifts: { Date => [Shift, Shift] }
    -@week_business_days.each do |date|
      %td
        -if @shifts[date].present?
          %ul
            -@shifts[date].each do |shift|
              %li.special{:class => "#{shift.status}"}
                = shift.user.first_name


:javascript
  $("#week_number_date").change(function(){
    var current_option_selected = $(this).val();
    //$(document).ready(function(){
        //$("#table_id").val(current_option_selected);
    //});
    window.location.href = "/calendar?selected_week=" + current_option_selected;
  })
  // redirect with javascript
  // window.location.href = "/calendar?selected_week=" + current_option_selected