%h2= t(".title", number: Shift.all.length)

= render 'shared/shift_error_messages'


= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(".full_name")
    %th= t(".day_work")
    %th= t(".status")
    %th= t(".Delete")
    - @shifts.each do |shift|
      %tr
        %td= shift.user.full_name
        %td= shift.day_work
        %td{:class => "#{shift.status}"}
          = shift.status
        %td
          - if shift.has_decision?
            = link_to user_shift_path(shift.user_id, shift.id), method: :delete, data: {confirm: 'Are you sure to delete?'}, class: "btn btn-danger" do
              %span.glyphicon.glyphicon-trash
= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")

%h3= t(".add_shift")
= render 'new'

