%h2= t(".title", number: @shifts.count)

= render 'shared/shift_error_messages'


= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th.center_me= User.human_attribute_name(:full_name)
    %th.center_me= Shift.human_attribute_name(:day_work)
    %th.center_me= Shift.human_attribute_name(:status)
    %th.center_me= "Workplace"
    %th.center_me= t(".Delete")
    - @shifts.each do |shift|
      %tr
        %td= shift.user.full_name
        %td= shift.day_work
        %td{:class => "#{shift.status}"}
          = shift.status
        %td= shift.workplace.try(:name) || "No workplace"
        %td.center_me
          - if !shift.has_decision?
            = link_to user_shift_path(shift.user_id, shift.id), method: :delete, data: {confirm: 'Are you sure to delete?'}, class: "btn btn-danger" do
              %span.glyphicon.glyphicon-trash
= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")

%h3= t(".add_shift")
= render 'new'

