%h1 "#{current_user.full_name} shifts"

= render 'shared/shift_error_messages'

%h3 Shifts

%table.table.table-striped.table-bordered
  %tr
    %th id
    %th user_id
    %th full name
    %th day_work
    - @shifts.each do |s|
      %tr
        %td= s.id
        %td= s.user_id
        %td= s.user.full_name
        %td= s.day_work

%h3 Add shift
= form_for [current_user, @shift] do |f|
  -#= f.hidden_field 'user_id', value: current_user.id
  -#= current_user.inspect
  = f.label 'day_work'
  = f.date_select 'day_work'
  %br
  = f.submit 'Add date'

