%h1 "#{current_user.full_name} shifts"

= render 'shared/shift_error_messages'

%h3 There #{is_pluralize(@shifts.length, 'shift')}

= will_paginate @shifts
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th full name
    %th day_work
    %th status
    %th
    - @shifts.each do |shift|
      %tr
        %td= shift.user.full_name
        %td= shift.day_work
        %td{:class => "#{shift.status}"}
          = shift.status
        %td= link_to 'Delete', user_shift_path(shift.user_id, shift.id), method: :delete, data: {confirm: 'Are you sure to delete?'}
= will_paginate @shifts

%h3 Add shift
= render 'new'

