%h2= t(".title", number: Shift.count)

= render 'shared/shift_error_messages'


= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")
%table.table.table-striped.table-bordered.table-hover
  %tr
    %td
      =link_to trigger_outdater_admin_shifts_path, method: :put, class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-refresh
        =t(".update")
  %tr
    %th.center_me= t(".full_name")
    %th.center_me= t(".day_work")
    %th.center_me= t(".status")
    %th.center_me= t(".Delete")
    %th.center_me= t(".Approve")
    %th.center_me= t(".Reject")
    %th.center_me= t(".Put_Pending")
    %th.center_me= t(".History_change")
    - @shifts.each do |shift|
      %tr
        %td= shift.user.full_name
        %td= shift.day_work
        %td{:class => "#{shift.status}"}
          = shift.status
        %td.center_me
          - if !shift.has_decision?
            = link_to admin_shift_path(shift.id), method: :delete, data: {confirm: 'Are you sure to delete?'}, class: "btn btn-default" do
              %span.glyphicon.glyphicon-trash
        %td.center_me
          - if shift.is_pending_present?
            = link_to approve_admin_shift_path(shift.id), method: :put, class: "btn btn-success", "data-no-turbolink" => true do
              %span.glyphicon.glyphicon-ok
        %td.center_me
          - if shift.is_pending_present?
            = link_to reject_admin_shift_path(shift.id), method: :put, class: "btn btn-danger", "data-no-turbolink" => true do
              %span.glyphicon.glyphicon-remove
        %td.center_me
          - if !shift.is_shift_pending? && !shift.day_work.past? && current_user.is_admin?
            = link_to become_pending_admin_shift_path(shift.id), method: :put, class: "btn btn-default", "data-no-turbolink" => true do
              %span.glyphicon.glyphicon-question-sign
        %td.center_me
          - if shift.shift_decisions.exists?
            = link_to history_status_admin_shift_path(shift.id), class: "btn btn-default", "data-no-turbolink" => true do
              %span.glyphicon.glyphicon-list-alt
= will_paginate @shifts, :param_name => 'shifts_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")

= render 'admin/shift_decisions/index', collection: @shiftdecisions
