%h2 There #{is_pluralize(@shifts.length, 'shift')}

= render 'shared/shift_error_messages'

%h3 All Shifts
= link_to 'Trigger outdater', trigger_outdater_admin_shifts_path, method: :put, class: 'btn btn-danger'

%table.table.table-striped.table-bordered.table-hover
  %tr
    %th id
    %th user_id
    %th full name
    %th day_work
    %th status
    %th Delete
    %th Approve
    %th Reject
    %th Put Pending
    - @shifts.each do |shift|
      %tr
        %td= shift.id
        %td= shift.user_id
        %td= shift.user.full_name
        %td= shift.day_work
        %td{:class => "#{shift.status}"}
          = shift.status
        %td
          - if shift.is_shift_pending? || shift.is_shift_outdated?
            = link_to 'Delete', admin_shift_path(shift.id), method: :delete,
            data: {confirm: 'Are you sure to delete?'}
        %td
          - if shift.is_shift_pending? && !shift.day_work.past?
            = link_to 'Approve', approve_admin_shift_path(shift.id),
            method: :put, class: "btn btn-success", "data-no-turbolink" => true
        %td
          - if shift.is_shift_pending? && !shift.day_work.past?
            = link_to 'Reject', reject_admin_shift_path(shift.id),
            method: :put, class: "btn btn-danger", "data-no-turbolink" => true
        %td
          - if !shift.is_shift_pending? && !shift.day_work.past? && current_user.is_admin?
            = link_to 'Put pending', become_pending_admin_shift_path(shift.id),
            method: :put, class: "btn btn-default", "data-no-turbolink" => true
