%h2 History change shift status

= will_paginate collection, :param_name => 'shiftdecisions_page'
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th Modification date
    %th Shift owner
    %th Changed by
    %th Shift date
    %th Decision
    -collection.each do |shift_decision|
      %tr
        %td= shift_decision.created_at
        %td= shift_decision.shift.user.full_name
        %td= shift_decision.user.full_name
        %td= shift_decision.shift.day_work
        %td{:class => "#{shift_decision.decision}"}
          =shift_decision.decision
= will_paginate collection, :param_name => 'shiftdecisions_page'