%h2= t(".title")

= will_paginate collection, :param_name => 'shiftdecisions_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(".modification_date")
    %th= t(".shift_owner")
    %th= t(".changed_by")
    %th= t(".shift_date")
    %th= t(".decision")
    -collection.each do |shift_decision|
      %tr
        %td= shift_decision.created_at
        %td= shift_decision.shift.user.full_name
        %td= shift_decision.user.full_name
        %td= shift_decision.shift.day_work
        %td{:class => "#{shift_decision.decision}"}
          =shift_decision.decision
= will_paginate collection, :param_name => 'shiftdecisions_page',
  :previous_label => t("will_paginate.previous_label"),
  :next_label     => t("will_paginate.next_label")