- provide(:title, 'Shifter | Signup')

%h1 Sign Up

.row
  .span6.offset3

    =form_for [:admin, @user] do |f|
      = render 'shared/user_error_messages'
      %p= t(".first_name")
      = f.text_field 'first_name'
      %br
      %p= t(".last_name")
      = f.text_field 'last_name'
      %br
      %p= t(".email")
      = f.text_field 'email'
      %br
      %p= t(".password")
      = f.password_field 'password'
      %br
      %p= t(".password_confirmation")
      = f.password_field 'password_confirmation'
      %br
      = f.submit t("helpers.submit.submit"), :class => 'btn btn-success'
      = link_to 'Cancel', admin_users_path, :class => 'btn btn-danger'