%h3= "Request shift for #{@user.full_name}"
= form_for [:admin, @user, @shift_request], :url => update_shift_request_admin_user_path(@user.id), method: :put do |f|
  = f.hidden_field 'manager_id', value: current_user.id
  = f.label 'day_work'
  = f.date_select 'day_work'
  = f.label 'workplace'
  = f.select(:workplace_id, Workplace.all.collect {|w| [ w.name, w.id ] })
  %br
  = f.submit t("helpers.add_date"), class: 'btn btn-success'
  = link_to t("helpers.cancel"), admin_users_path, :class => 'btn btn-danger'